# Python Class# 4 Assignment(List, Loops)

# List

In [2]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
List_sub=['computer','maths','physics']
a=[1,2,3]
print(List_sub)

List_sub.append('chemistry')#Used for appending and adding elements to List.It is used to add elements to the last position of List.
print(List_sub)
List_sub.append('biology')
print(List_sub)

['computer', 'maths', 'physics']
['computer', 'maths', 'physics', 'chemistry']
['computer', 'maths', 'physics', 'chemistry', 'biology']

In [28]:
List_sub=['computer','maths','physics']

List_sub.insert(0,'urdu')#Inserts an element at specified position. The first argument is the index of the element before which to insert.
List_sub.insert(3,'english')

print(List_sub)

['urdu', 'computer', 'maths', 'english', 'physics']

In [21]:
List_sub=['computer','maths','physics']
List_marks=[90,80,70]
print(List_sub)
print(List_marks, end="\n\n")

List_sub.extend(List_marks)#Adds contents of List_marks to the end of List_sub (but List_marks will remain unchanged here). This method allow us to join 2 lists together.
print(List_sub)
print(List_marks, end="\n\n")

List_marks.extend(List_sub)#Adds contents of List_sub to the end of List_marks.
print(List_marks)
print(List_sub)

['computer', 'maths', 'physics']
[90, 80, 70]

['computer', 'maths', 'physics', 90, 80, 70]
[90, 80, 70]

[90, 80, 70, 'computer', 'maths', 'physics', 90, 80, 70]
['computer', 'maths', 'physics', 90, 80, 70]

In [39]:
list1=[1,2,3,4]
list2=[]
list3=[5,6,7]
print(list2, end='\n\n')

list2=list1 #Shallow copy
print(list2)
list1.extend(list3)#Adding items of list3 in list1 
print(list1)
print(list2, end='\n\n')

list1=[1,2,3,4]
list2=[]
list3=[5,6,7,8]

list2=list1.copy()# Deep copy
print(list2)
list1.extend(list3)#Adding items of list3 in list1 
print(list1)
print(list2)

[]

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4]

In [48]:
list1=['Punjab','Sindh','KPK','Balochistan','Punjab','Sindh','KPK','Balochistan','Sindh','Punjab','Punjab']

a=list1.count('Punjab')# It returns occurrence of an element in a list
b=list1.count('gilgit')
c=list1.count('Sindh')
print(a)
print(b)
print(c, end='\n\n')

a=list1.index('KPK')#It returns smallest index of element in list
print(a)
print(list1.index('Balochistan'))

4
0
3

2
3

In [53]:
list1=['Punjab','Sindh','KPK','Balochistan','Punjab','Sindh','KPK','Balochistan','Sindh','Punjab','Punjab']
list2=[20,30,11,80,56,29,76]

list1.reverse()#Simply reverses a List without any order
print(list1, end='\n\n')

list2.sort() #Sort a list in ascending order
list1.sort()
print(list2)
print(list1, end='\n\n')

list2.sort(reverse=True)#Sort a list in decending order
print(list2)

['Punjab', 'Punjab', 'Sindh', 'Balochistan', 'KPK', 'Sindh', 'Punjab', 'Balochistan', 'KPK', 'Sindh', 'Punjab']

[11, 20, 29, 30, 56, 76, 80]
['Balochistan', 'Balochistan', 'KPK', 'KPK', 'Punjab', 'Punjab', 'Punjab', 'Punjab', 'Sindh', 'Sindh', 'Sindh']

[80, 76, 56, 30, 29, 20, 11]

In [69]:
list1=[10,20,30,40,50,60,70,80]
del list1[1] #It's a keyword and delete the mentioned index value from the list. Doesn't return any value
print(list1, end='\n\n')

list1.remove(50)#List method, used to remove a specific value from the list. Doesn't return anything
print(list1, end='\n\n')

list2=[10,11,12,13,14,15,16,17,18,19,20]
list3=[]
a=list2.pop()#List method used to remove mentioned index value frm the list.If no index is specified, it removes and returns the last item in the list.
print(a)
print(list2)
print(list2.pop(1))#here it removes and returns the specified index value
print(list2, end='\n\n')

a=list2.pop()
list3.append(a)
print(list3)
print(list2)

[10, 30, 40, 50, 60, 70, 80]

[10, 30, 40, 60, 70, 80]

20
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
11
[10, 12, 13, 14, 15, 16, 17, 18, 19]

[19]
[10, 12, 13, 14, 15, 16, 17, 18]

In [71]:
l1=[1,2,3,4,4,5]
print(l1)
l1.clear()#Removes all Items from the List
print(l1)

[1, 2, 3, 4, 4, 5]
[]

In [2]:
l1=[1,2,3,4,5,'A','B','C','D','E']
l1.__class__

list

In [18]:
l1=[1,2,3]
l2=['A','B','C']
print(l1.__add__(l2))#Adds the items of l2 in l1
print(l2)

[1, 2, 3, 'A', 'B', 'C']
['A', 'B', 'C']

In [7]:
l1=[1, 2, 3, 'A', 'B', 'C']
l1.__contains__('A')#Returns true if list contains the given value

True

In [11]:
l1=[1, 2, 3, 'A', 'B', 'C']
l1.__delitem__(1)#Removes the given index value frm list
print(l1)

[1, 3, 'A', 'B', 'C']

In [21]:
l1=[1,2,3]
l2=['A','B','C']
print(l1.__eq__(l2))#Returns true if boht lists have same values

l2=[1,2,3]
print(l1.__eq__(l2))

False
True

In [25]:
l1.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [26]:
l1.__format__

In [28]:
l1=[1,2,3]
l1.__getitem__(1)#Returns the list item at given index

2

In [69]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[1,7,3,8]
l4=[5,6,7,8]
print(l2.__gt__(l1))#Returns true if list2 is greater than list1
print(l1.__gt__(l3),end="\n\n")

print(l3.__lt__(l1))#Returns true if list3 is less than list1
print(l1.__lt__(l2),end="\n\n")

print(l2.__ge__(l1))#Returns true if list2 is greater than or equals to list4
print(l3.__le__(l2))#Returns true if list3 is less than or equals to list2

True
False

False
True

True
True

In [77]:
l1=[1,2,3,4]
l1.__setitem__(0,5)#Set the given valu/item to specified index(but can not set an item to a new index)
print(l1)

[5, 2, 3, 4]

In [82]:
l1=['a','b','c','d','e']
l1.__len__()

5

In [90]:
l1=['a','b','c','d','e']
l2=[1,2,3,4,5,6]
print(l2.__sizeof__())# Return the size of the list in memory, in bytes
print(l1.__sizeof__())

88
80

In [93]:
l1=['a','b','c','d','e']
l1.__reversed__()#Return a reverse iterator over the list.

In [107]:
l1=[1,2,3,4]
l2=[5,6,7,8]
print(l1.__mul__(3))#works same as [1,2,3,4]*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

# Loops

In [1]:
count=0 #counter
while count<=5: #logic
    print("I am Pakistani",count)
    count+=1 #increment

I am Pakistani 0
I am Pakistani 1
I am Pakistani 2
I am Pakistani 3
I am Pakistani 4
I am Pakistani 5

In [4]:
count=500 #counter
while count>480: #logic
    print("I am Pakistani",count)
    count-=1 #decrement

I am Pakistani 500
I am Pakistani 499
I am Pakistani 498
I am Pakistani 497
I am Pakistani 496
I am Pakistani 495
I am Pakistani 494
I am Pakistani 493
I am Pakistani 492
I am Pakistani 491
I am Pakistani 490
I am Pakistani 489
I am Pakistani 488
I am Pakistani 487
I am Pakistani 486
I am Pakistani 485
I am Pakistani 484
I am Pakistani 483
I am Pakistani 482
I am Pakistani 481

In [8]:
# for(counter;logic;inreament/Decreament)----> previous language syntax
for i in range(1,11):
    print("Hello",i)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [15]:
#for loop in list comprehensive form
["Hello"+str(i) for i in range(1,11)]

['Hello1',
 'Hello2',
 'Hello3',
 'Hello4',
 'Hello5',
 'Hello6',
 'Hello7',
 'Hello8',
 'Hello9',
 'Hello10']

In [1]:
#Table of 2
for i in range(1,11):
    #print(f"2 x {i} = {2*i}")
    print("2 x "+str(i)+" = "+str(2*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [2]:
#Table of 3
for i in range(1,11):
    print(f"3 x {i} = {3*i}", end="  ")

[f"3 x {i} = {3*i}" for i in range(1,11)] # List comprehensive form

3 x 1 = 3  3 x 2 = 6  3 x 3 = 9  3 x 4 = 12  3 x 5 = 15  3 x 6 = 18  3 x 7 = 21  3 x 8 = 24  3 x 9 = 27  3 x 10 = 30

['3 x 1 = 3',
 '3 x 2 = 6',
 '3 x 3 = 9',
 '3 x 4 = 12',
 '3 x 5 = 15',
 '3 x 6 = 18',
 '3 x 7 = 21',
 '3 x 8 = 24',
 '3 x 9 = 27',
 '3 x 10 = 30']

In [5]:
#to print tables from 1 to the table # entered by user
user_input=int(input("please enter the table number u want to print form 1 to " ))
for i in range (1,user_input+1):
    print()
    print(f"Table of {i}")
    for j in range(1,11):
        print(f"{i} X {j} = {i*j}")

please enter the table number u want to print form 1 to 4

Table of 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

Table of 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

Table of 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

Table of 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [13]:
#to print tables from 1 to the table # entered by user 
user_input=int(input("Please enter the table number u want to print form 1 to " ))
for j in range(1,11):
    print()
    for i in range (1,user_input+1):
        print(f"{i} X {j} = {i*j}", end="\t")

please enter the table number u want to print form 1 to 6

1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30	4 X 10 = 40	5 X 10 = 50	6 X 10 = 60

In [14]:
#to print tables of user entered rangess 
user_input1=int(input("P lease enter the Table number to start with: "))
user_input2=int(input("Please enter the Table number to end on: " ))
user_range1=int(input("Enter starting # of range: "))
user_range2=int(input("Enter ending # of range: "))

for i in range (user_input1,user_input2+1):
    print()
    print(f"Table of {i}")
    for j in range(user_range1,user_range2+1):
        print(f"{i} X {j} = {i*j}")

P lease enter the Table number to start with: 5
Please enter the Table number to end on: 10
Enter starting # of range: 4
Enter ending # of range: 14

Table of 5
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70

Table of 6
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72
6 X 13 = 78
6 X 14 = 84

Table of 7
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
7 X 13 = 91
7 X 14 = 98

Table of 8
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96
8 X 13 = 104
8 X 14 = 112

Table of 9
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108
9 X 13 = 117
9 X 14 = 126

Table of 10
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
10 X 11 = 110
10 X 12 = 120
10 X 13 = 130
10 X 14 = 140

In [22]:
user_input1=int(input("P lease enter the Table number to start with: "))
user_input2=int(input("Please enter the Table number to end on: " ))
user_range1=int(input("Enter starting # of range: "))
user_range2=int(input("Enter ending # of range: "))

for j in range(user_range1,user_range2+1):
    print()
    for i in range (user_input1,user_input2+1):
        print(f"{i} X {j} = {i*j}", end="\t")

P lease enter the Table number to start with: 15
Please enter the Table number to end on: 20
Enter starting # of range: 20
Enter ending # of range: 30

15 X 20 = 300	16 X 20 = 320	17 X 20 = 340	18 X 20 = 360	19 X 20 = 380	20 X 20 = 400
15 X 21 = 315	16 X 21 = 336	17 X 21 = 357	18 X 21 = 378	19 X 21 = 399	20 X 21 = 420
15 X 22 = 330	16 X 22 = 352	17 X 22 = 374	18 X 22 = 396	19 X 22 = 418	20 X 22 = 440
15 X 23 = 345	16 X 23 = 368	17 X 23 = 391	18 X 23 = 414	19 X 23 = 437	20 X 23 = 460
15 X 24 = 360	16 X 24 = 384	17 X 24 = 408	18 X 24 = 432	19 X 24 = 456	20 X 24 = 480
15 X 25 = 375	16 X 25 = 400	17 X 25 = 425	18 X 25 = 450	19 X 25 = 475	20 X 25 = 500
15 X 26 = 390	16 X 26 = 416	17 X 26 = 442	18 X 26 = 468	19 X 26 = 494	20 X 26 = 520
15 X 27 = 405	16 X 27 = 432	17 X 27 = 459	18 X 27 = 486	19 X 27 = 513	20 X 27 = 540
15 X 28 = 420	16 X 28 = 448	17 X 28 = 476	18 X 28 = 504	19 X 28 = 532	20 X 28 = 560
15 X 29 = 435	16 X 29 = 464	17 X 29 = 493	18 X 29 = 522	19 X 29 = 551	20 X 29 = 580
15 X 30 = 450	16 X 30 = 480	17 X 30 = 510	18 X 30 = 540	19 X 30 = 570	20 X 30 = 600